{% extends 'basic.html' %} {% block content %} {% load static %}{% load crispy_forms_tags %}
<html>
    <head>    
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
            <style>
                    input[type=text],label,input[type=number]{
                          width: 80%;
                          align-content: center;                                                                              
                    }                    
                    label{
                        font-weight: bold;
                    }
                    input[type=number]{
                        min:0;
                    }
                </style>
    </head>
    <body>
        <center>
            <div class="card border-info" style="width: 50%; margin-top: 0px;" align="center">
                    <div class="card-header bg-info">
                            <h3><b>Upload Product Price</b></h3>
                    </div>
                    <div class="card-body">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">{{ message }}</div>
                            {% endfor %} {% endif %}
                        </div> 
                        <form class="form-horizontal inline" id="form" role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                    <div class="card-block">                                                                                     
                           <fieldset class="form-group col-md-10" >  
                                {{form|crispy}}  
                                <br>
                                
                                <button type="submit" class="btn btn-success" id="submit">submit</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-primary" id="reset">Cancel</button>                      
                            </fieldset>  
                        </form>  
                   </div>             
            </div>
        </center>
        </body>    
    </html>  
    
<!--------------only Enter Number ----------------->   
    <script>
        var userName = document.querySelector('#id_Price');
        userName.addEventListener('input', restrictNumber);
        function restrictNumber (e) {  
        var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
        this.value = newValue;
        }

        var grda = document.querySelector('#id_Gradea');            
        grda.addEventListener('input', restrictNumber);
        function restrictNumber (e) {  
        var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
        this.value = newValue;
        }
        
        var grdb = document.querySelector('#id_Gradeb');            
        grdb.addEventListener('input', restrictNumber);
        function restrictNumber (e) {  
        var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
        this.value = newValue;
        }
        var grdc = document.querySelector('#id_Gradec');            
        grdc.addEventListener('input', restrictNumber);
        function restrictNumber (e) {  
        var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
        this.value = newValue;
        }
    </script>
<!------ First latter is UpperCase ------->
<script>
    jQuery(document).ready(function() {

         // 3 Capitalize string every 1st chacter of word to uppercase
         jQuery('#id_P_name').keyup(function() 
         {
             var str = jQuery('#id_P_name').val();
             var spart = str.split(" ");
             for ( var i = 0; i < spart.length; i++ )
             {
                 var j = spart[i].charAt(0).toUpperCase();
                 spart[i] = j + spart[i].substr(1);
             }
         jQuery('#id_P_name').val(spart.join(" "));             
         });
    });
</script>
<!---------Price in not add zero value ------------->  
<script>
     $("input[name='Price']").change(function() {
      number = $("input[name='Price']").val()
       if( number <= 0  ) {
           $("input[name='Price']").val("");
           alert("value should be more than 0");
         }
       });    
</script>
{% endblock %}