{% extends 'main.html' %} {% load render_table from django_tables2 %} {% render_table table %} {% block content %} {% load static %}
<div class="message" style="margin-top: 160px">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %} {% endif %}</div>

<div class="table-responsive" style="font-size: 15px;">

    <!--Farmer Upload Products -->


    <table class="table table-hover">
        <center>
            <h3 style="color: green">Trader upload price list</h3>
        </center>
        <tr>
            <th>trader Name</th>
            <th>Product Name</th>           
            <th>Price/(20)Kg</th>

        </tr>
        {% for i in prolist %}
        <tr class="danger">
            <td>{{i.T_name}}</td>
            <td>{{i.P_name}}</td>           
            <td>{{i.Price}}</td>
            <td><a href="productupload{{i.P_id}}"><button type="submit" id="submit"  class="btn btn-success" >Upload Product</button></a></td>

        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}