{% extends 'main.html' %}{% load crispy_forms_tags %} {% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="container" style="width: 50%; height:auto;">            
             <center>  <h1>Upload Farm Equipments</h1></center>
                  <hr>
                  <div class="card-body">
                      {% if messages %} {% for message in messages %}
                      <div class="alert alert-{{message.tags}}">{{ message }}</div>
                      {% endfor %} {% endif %}
                  </div>      

                          <fieldset class="form-group">                                           
                                    {{form|crispy}}
                                    <br>
                                    <button type="submit" class="btn btn-success" id="submit">submit</button>&nbsp;&nbsp;
                                     <button type="reset" class="btn btn-primary" id="reset">reset</button>
                          </fieldset>
        </div>
</form>
{% endblock %}