{% extends 'basic.html' %}{% load crispy_forms_tags %} {% block content %}
<html>
    <head>    
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
            <style>
                    input[type=text],label{
                          width: 100%;
                          align-content: center;
                          
                    }
                    input[type=number],input[type=file]{
                        width: 100%
                    }
                    label{
                        font-weight: bold;
                    }
                </style>
    </head>
    <body>
        <center>
            <div class="card border-info" style="width: 50%; margin-top: 0px;" align="center">
                    <div class="card-header bg-info">
                            <h3><h1>Upload Farm Equipments</h1></h3>
                    </div>
                    <div class="card-body">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">{{ message }}</div>
                            {% endfor %} {% endif %}
                        </div>  
                        <form class="form-horizontal inline"  role="form" method="POST" enctype="multipart/form-data">                            
                            {% csrf_token %}
                    <div class="card-block">                                                                                    
                           <fieldset class="form-group col-md-10" >   
                                {{form|crispy}}
                                <br>
                                <button type="submit" class="btn btn-success" id="submit">submit</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-primary" id="reset">Cancel</button>                      
                            </fieldset>  
                        </form>  
                   </div>           
            </div>
        </center>
        </body>    
    </html>     
<!-----------only enter number-------------------->
<script>
    var userName = document.querySelector('#id_Rent_price');

    userName.addEventListener('input', restrictNumber);
    function restrictNumber (e) {  
    var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
    this.value = newValue;
    }
</script>
<!---------Price in not add zero value ------------->  
<script>
        $("input[name='number']").change(function() {
         number = $("input[name='number']").val()
          if( number <= 0  ) {
              $("input[name='number']").val("");
              alert("value should be more than 0");
            }
          });
       
</script>  
{% endblock %}