{% extends 'basic.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        .modal-header,
        h4,
        .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }        
        .modal-footer {
            background-color: #f9f9f9;
        }
        #msg {
                display:none;
                color:red;
                }
    </style>
</head>
<body>
    <form method="POST" id="abc">
        {% csrf_token %}
        <div class="container" align="center">
            <!-- Modal content-->            
                <div class="modal-content" style="margin-top: 0px; width:50%;">
                    <div class="modal-header" style="padding:35px 50px;">
                     <h4 style="margin-left:20%; font-weight:bold;"><i class="fa fa-unlock-alt" aria-hidden="true" align="center"></i>
                            Forgot Password</h4>
                    </div>
                    <!--email -->
                    <div class="modal-body" style="padding:20px 20px;">
                        <form role="form">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">{{ message }}</div>
                            {% endfor %} {% endif %}
                            <div class="form-group">
                                    <p id="msg">WARNING! Caps lock is ON.</p>
                                <label for="email"><span class="glyphicon glyphicon-envelope"></span><b>Enter Email</b></label>
                                <input id="email" name="email" placeholder="Enter Your E-Mail" class="form-control" data-validation="email" type="email">
                            </div>
                            <!--button -->
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                           <br>
                            <label for="signup"><a href="hlogin">Now Login</a></label>
                        </form>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</form>
</body>
</html>

<!-----------Capslock On or Off -------------->
<script>
        // Get the input field
        var input = document.getElementById("abc");
        
        // Get the warning text
        var text = document.getElementById("msg");
        
        // When the user presses any key on the keyboard, run the function
        input.addEventListener("keyup", function(event) {
        
          // If "caps lock" is pressed, display the warning text
          if (event.getModifierState("CapsLock")) {
            text.style.display = "block";
          } else {
            text.style.display = "none"
          }
        }); 
</script>
{% endblock %}