{% extends 'basic.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <style>
        .modal-header,
        h4,
        .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }
        
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <!-- Modal content-->
            <center>
                <div class="modal-content" style="margin-top: 50px; width:50%;">
                    <div class="modal-header" style="padding:35px 50px;">
                        <h4><span class="glyphicon glyphicon-lock"></span> Forgot Password:</h4>
                    </div>
                    <!--email -->
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">{{ message }}</div>
                            {% endfor %} {% endif %}
                            <div class="form-group">
                                <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                                <input id="email" name="email" placeholder="Enter Your E-Mail Address" class="form-control" data-validation="email" type="email">
                            </div>
                            <!--button -->
                            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Submit</button>
                           <br>
                            <label for="signup"><a href="hlogin">Now Login</a></label>
                        </form>
                    </div>
                </div>
            </center>
        </div>
        </div>
        </div>
    </form>
</body>

</html>
{% endblock %}