{% extends 'basic.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="estilo.css" />
<script type="text/javascript" src="script.js"></script>    
       
    <style>
        .ena,
        h4,
        .close {
            background-color: #5cb85c;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }    
        .modal-footer {
            background-color: #f9f9f9;
        }
        #msg {
                display:none;
                color:red;
                }
        .capt{
            background-color:gainsboro;
            width: auto;
            height:80px;
            margin-bottom:20px;	
        }
    </style>
    
</head>

<body onload="Captcha();">
    <form method="POST" id="abc">
        {% csrf_token %}
        {{recaptcha|safe}}
        <div class="container">
            <!-- Modal content-->
            <center>
                <div class="modal-content" style="margin-top: 50px; width:50%;">
                      <div class="ena" style="padding:35px 50px;">
                       <h4><i class="fa fa-lock" aria-hidden="true"></i> Login</h4>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        {% if messages %} {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">{{ message }}</div>
                        {% endfor %} {% endif %}
                        
                                                 
                            <div class="form-group">
                                    <p id="msg">WARNING! Caps lock is ON.</p>
                                <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    Email</label>
                                <input type="text" class="form-control" name="email" id="usrname" placeholder="Enter Email">

                            </div>
                            <div class="form-group">
                                <label for="psw"><span class="fa fa-key"></span> Password</label>
                                <input type="password" class="form-control" id="psw" name="password" placeholder="Enter Password">
                            </div>
                        <!--    <div class="capt"> 
                                <h2 type="text" id="mainCaptcha"></h2>
                                <span><input type="text" id="txtInput"/></span>
                                <span><button id="refresh" onclick="Captcha();"><i class="fa fa-refresh" aria-hidden="true"></i></button></span>                                    
                                
                            </div>-->
                           

                             <button type="submit" id="Button1" class="btn btn-success btn-block" onclick="alert(ValidCaptcha());"><span class="glyphicon glyphicon-off"></span> Login</button>
                    
                        </div>
                    <div class="modal-footer">
                         <p>Forgot <a href="forgotpassword" style="color:cornflowerblue;"><b>Password?</b></a></p>
                    </div>
                </div>
            </center>
        </div>
        </div>
        </div>
    </form>
</body>
</html>

<!----------------Captcha Validation----------------------->


<!-----------Capslock On or Off -------------->
<script>
// Get the input field
var input = document.getElementById("abc");

// Get the warning text
var text = document.getElementById("msg");

// When the user presses any key on the keyboard, run the function
input.addEventListener("keyup", function(event) {

  // If "caps lock" is pressed, display the warning text
  if (event.getModifierState("CapsLock")) {
    text.style.display = "block";
  } else {
    text.style.display = "none"
  }
}); 
</script>

{% endblock %}