{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
</head>
<style>
    .col-sm-3 img{
      display: block;
      max-width: 100%;
      width :300;
      height: 250;
    }
</style>
<body> 
<div>  
        <div class="card-header bg-info" align="center" style="margin: 5px 85px 10px 85px"> 
                {% for i in d %}
            <h3>{{i.Category}}</h3>
            {% endfor %}
        </div>
<div class="row" style="margin-left: 5%;margin-right: 5%;">
        {% for i in d|slice:"0:" %}
        {% for j in a %}
        {% if i.H_id == j.H_id %}
        <div class="col-sm-4" style="margin-bottom:2% ;">
        
        <div class="card">
                <img src="/media/{{i.Image}}" alt="{{i.E_name}}" height="150">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>{{i.E_name}}</strong></li>
                    <li class="list-group-item"><b>Price: {{i.Rent_price}} Rs per day</b></li>
                    <li class="list-group-item" style="color: red;"><b>Rating:{{i.Rating|floatformat:1}}<i class="fas fa-star" aria-hidden="true"></i></b></li>
                </ul>
                    <p style="margin-top: 4%; margin-bottom: 0%;" align="center">
                    <a href="quikview{{i.E_id}}"><button class="btn btn-outline-info">Quickview</button></a></p>
            </div>
          </div>
        </div>
    {% endif %}
    {% endfor %}
    {% endfor %}   
    </div>
</div>
</body>
{% endblock %}