{% extends 'main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
</head>


<body style="background-image: url({% static 'images/bkhh.jpg' %})">
    <form method="POST">
        {% csrf_token %}
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="card card-signin flex-row my-5">
                            <div class="card-img-left d-none d-md-flex" style="background-image:url({% static 'images/bkh.jpg' %})">

                                <!-- Background image for card set in CSS! -->
                            </div>
                            <div class="card-body">
                                {% if messages %} {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">{{ message }}</div>
                                {% endfor %} {% endif %}

                                <h1 class="card-title text-center">Equipmentholder Registration</h1>
                                <form class="form-signin">
                                    <div class="form-label-group">
                                        <input type="text" id="inputUserame" class="form-control" placeholder="Username" name="hname" required autofocus>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="shopname" name="shopname" placeholder="Enter shop name" required>
                                    </div>
                                    <div class="form-label-group">
                                        <textarea class="form-control" id="adrs" name="haddress" rows="3"></textarea>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="tel" class="form-control" id="mn1" name="hmobileno" placeholder="Mobile number" maxlength="10" required>
                                    </div>
                                    <div class="form-label-group">
                                        <select class="form-control" id="district" name="hdist" placeholder="District" required>
                                            <option>Ahmedabad</option>
                                            <option>Anand</option>
                                            <option>Aravalli</option>
                                            <option>Amreli</option>
                                            <option>Bharuch</option>
                                            <option>Botad</option>
                                            <option>Bhavnagar</option>
                                            <option>Banaskantha</option>
                                            <option>Chhota Udaipur</option>
                                            <option>Dang</option>
                                            <option>Devbhoomi Dwarka</option>
                                            <option>Dahod</option>
                                            <option>Gandhinagar</option>
                                            <option>Gir Somnath</option>
                                            <option>Jamnagar</option>
                                            <option>Junagadh</option>
                                            <option>Kachchh</option>
                                            <option>Kheda</option>
                                            <option>Morbi</option>
                                            <option>Mehsana</option>
                                            <option>Mahisagar</option>
                                            <option>Mahisagar</option>
                                            <option>Navsari</option>
                                            <option>Panchmahal</option>
                                            <option>Patan</option>
                                            <option>Porbandar</option>
                                            <option>Rajkot</option>
                                            <option>Surat</option>
                                            <option>Sabarkantha</option>
                                            <option>Surendranagar</option>
                                            <option>Tapi</option>
                                            <option>Valsad</option>
                                            <option>Vadodara</option>                                           
                                          </select> </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="taluka" name="htaluka" placeholder="Taluka name" pattern='[A-Za-z\\s]*' required>

                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="city" name="hcity" placeholder="City/Village name" pattern='[A-Za-z\\s]*' required>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="hemail" aria-describedby="emailHelp" placeholder="Enter email" required>

                                    </div>
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="pnc" name="hpincode" placeholder="pincode" maxlength="6" required>
                                    </div>

                                    <hr>
                                    <div class="form-label-group">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password"  id="confirm_password" class="form-control" name="password1" placeholder="Confirm Password" required>
                                        <span id='message'></span>
                                    </div>
                                    <button class="btn btn-lg btn-primary  text-uppercase" type="submit">Submit</button>
                                    <button class="btn btn-lg btn-primary text-uppercase" type="reset">Cancel</button>
                                    <a class="d-block text-center mt-2 small" href="hlogin">Sign In</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>

<script>
    $('#password, #confirm_password').on('keyup', function () {
      if ($('#password').val() == $('#confirm_password').val()) {
        $('#message').html('Matching password').css('color', 'green');
      } else 
        $('#message').html('Not Matching Password').css('color', 'red');
    });
    </script>
{% endblock %}