{% extends 'main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
</head>


<body style="background-image: url({% static 'images/bkhh.jpg' %})">
    <form method="POST">
        {% csrf_token %}
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="card card-signin flex-row my-5">
                            <div class="card-img-left d-none d-md-flex" style="background-image:url({% static 'images/bkh.jpg' %})">

                                <!-- Background image for card set in CSS! -->
                            </div>
                            <div class="card-body">
                                {% if messages %} {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">{{ message }}</div>
                                {% endfor %} {% endif %}

                                <h1 class="card-title text-center">Equipmentholder Registration</h1>
                                <form class="form-signin">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" placeholder="User Name" name="hname" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="shopname" name="shopname" placeholder="Enter Shop Name" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="adrs" name="haddress" rows="3" required required pattern="^\d+\s[A-z]+\s[A-z]+"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" id="mn1" name="hmobileno" placeholder="Mobile Number" maxlength="10" required required pattern="^[6-9]\d{9}$">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="district" name="hdist" placeholder="District" required>
                                            {% for i in a %}
                                            <option>{{i.District}}</option>  
                                            {% endfor %}                                            
                                          </select>
                                         </div>
                                          <div class="form-group">
                                        <input type="text" class="form-control" id="htaluka" name="htaluka" placeholder="Taluka Name" pattern='[A-Za-z\\s]*' required>

                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="hcity" name="hcity" placeholder="City/Village Name" pattern='[A-Za-z\\s]*' required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="hemail" aria-describedby="emailHelp" placeholder="Enter Email" required>

                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="pnc" name="hpincode" placeholder="pincode" maxlength="6" required>
                                    </div>                                   
                                    <div class="form-group">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="Password"  required aria-describedby="pass"  required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                        <small id="pass" class="form-text text-muted">Password must have UpperCase, LowerCase, Number/SpecialChar and min 6 Chars</small>

                                    </div>

                                    <div class="form-group">
                                        <input type="password"  id="confirm_password" class="form-control" name="password1" placeholder="Confirm Password" required aria-describedby="pass"  required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                        <span id='message'></span>
                                    </div>
                                    <button class="btn btn-primary  text-uppercase" type="submit">Submit</button>
                                    <button class="btn btn-primary text-uppercase" type="reset">Cancel</button>
                                    <hr>
                                    <a class="d-block text-center mt-2 small" href="hlogin">Sign In</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>

<!-- Conform Password Is matching -->
<script>
    $('#password, #confirm_password').on('keyup', function () {
      if ($('#password').val() == $('#confirm_password').val()) {
        $('#message').html('Matching password').css('color', 'green');
      } else 
        $('#message').html('Not Matching Password').css('color', 'red');
    });
    </script>

<!------ First latter is UpperCase ------->
<script>
        jQuery(document).ready(function() {

             // 3 Capitalize string every 1st chacter of word to uppercase
             jQuery('#name').keyup(function() 
             {
                 var str = jQuery('#name').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#name').val(spart.join(" "));             
             });

              // Capitalize string every 1st chacter of word to uppercase
              jQuery('#htaluka').keyup(function() 
             {
                 var str = jQuery('#htaluka').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#htaluka').val(spart.join(" "));             
             });

             // Capitalize string every 1st chacter of word to uppercase
             jQuery('#hcity').keyup(function() 
             {
                 var str = jQuery('#hcity').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#hcity').val(spart.join(" "));             
             });

              // Capitalize string every 1st chacter of word to uppercase
              jQuery('#shopname').keyup(function() 
             {
                 var str = jQuery('#shopname').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#shopname').val(spart.join(" "));             
             });
         });       
       </script>

{% endblock %}