{% extends 'main.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
    <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script  src="/path/to/bootstrap-show-password.js"></script>

</head>


<body style="background-image: url({% static 'images/bkhh.jpg' %})">
    <form method="POST">
        {% csrf_token %}
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-xl-6 mx-auto">
                        <div class="card card-signin flex-row my-5">
                            
                            <div class="card-body">
                                {% if messages %} {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">{{ message }}</div>
                                {% endfor %} {% endif %}
                                <h1 class="card-title text-center">Trader Registration</h1>
                                <form class="form-signin">
                                    <div class="form-group">
                                        <input type="text" id="name" class="form-control" placeholder="User Name" name="name" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="adrs" name="address" rows="3" required required pattern="^\d+\s[A-z]+\s[A-z]+"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" id="mn1" name="mobileno" placeholder="Mobile number" maxlength="10" required required pattern="^[6-9]\d{9}$">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="district" name="dist" placeholder="District" required>
                                            {% for i in a %}
                                            <option>{{i.District}}</option>  
                                            {% endfor %}                                             
                                          </select> </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="taluka" name="taluka" placeholder="Taluka name" pattern='[A-Za-z\\s]*' required>

                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="city" name="city" placeholder="City/Village name" pattern='[A-Za-z\\s]*' required>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>

                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="pnc" name="pincode" placeholder="pincode" maxlength="6" required>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required aria-describedby="pass"  required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                        <small id="pass" class="form-text text-muted">Password must have UpperCase, LowerCase, Number/SpecialChar and min 6 Chars</small>

                                    </div>

                                    <div class="form-group">
                                        <input type="password"  id="confirm_password" class="form-control" name="password1" placeholder="Confirm Password" required aria-describedby="pass"  required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                                        <span id='message'></span>
                                    </div>

                                    <button class="btn btn-primary text-uppercase" type="submit">Submit</button>
                                    <button class="btn btn-primary text-uppercase" type="reset">Cancel</button>
                                    <hr>
                                    <a class="d-block text-center mt-2 small" href="hlogin">Sign In</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>
<!-- Conform Password Is matching -->
<script>
    $('#password, #confirm_password').on('keyup', function () {
      if ($('#password').val() == $('#confirm_password').val()) {
        $('#message').html('Matching password').css('color', 'green');
      } else 
        $('#message').html('Not Matching Password').css('color', 'red');
    });
    </script>

<!----- First latter is UpperCase ------>
<script>
        jQuery(document).ready(function() {

             // 3 Capitalize string every 1st chacter of word to uppercase
             jQuery('#name').keyup(function() 
             {
                 var str = jQuery('#name').val();    
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#name').val(spart.join(" "));
             
             });

              // Capitalize string every 1st chacter of word to uppercase
              jQuery('#taluka').keyup(function() 
             {
                 var str = jQuery('#taluka').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#taluka').val(spart.join(" "));             
             });

             // Capitalize string every 1st chacter of word to uppercase
             jQuery('#city').keyup(function() 
             {
                 var str = jQuery('#city').val();
                 var spart = str.split(" ");
                 for ( var i = 0; i < spart.length; i++ )
                 {
                     var j = spart[i].charAt(0).toUpperCase();
                     spart[i] = j + spart[i].substr(1);
                 }
             jQuery('#city').val(spart.join(" "));             
             });
         });       
       </script>
{% endblock %}