<!doctype html>
<html lang="en">
  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

     
  </head>
<style>

/*********************************
3.6 Logo
*********************************/

.logo_container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
}

.logo_container a {
    font-size: 24px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}

.logo_container a span {
    color: #fe4c50;
}
</style>
  <body>    
   <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="float: right; width: 100%; padding:0px;">      
        <button class="navbar-toggler ml-3 navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

      <div class="collapse navbar-collapse" style="margin-left: 80%;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">   
            {% if request.session.lgnh == null and request.session.lgnf == null and request.session.lgnt == null and request.session.lgna == null %}
            <li class="nav-item">
              <a class="nav-link " href="hlogin"> <button class="btn btn-outline-light">Sign IN</button></a>
            </li>                      
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <button class="btn btn-outline-light dropdown-toggle">Sign UP</button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="fregis">Farmer</a>
              <a class="dropdown-item" href="holderregister">Holder</a>              
              <a class="dropdown-item" href="traderregis">Trader</a>
            </div>
          </li>
          
          {% else %}
          <li class="nav-item" style="margin-left: 98%;">
            <a class="nav-link " href="logout"> <button class="btn btn-outline-light">Logout</button></a>
          </li>
          {% endif %}
        </ul>        
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:50px; height:100px; width: 100%; margin-bottom: 0px; padding:0px;">      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="logo_container">
              <a href="#">Farm<span>Corner</span></a>
          </div>
        <ul class="navbar-nav mr-auto" style="margin-left:800px; text-transform: capitalize;">

          <li class="nav-item active">
              <a class="nav-link" href="home.html">HOME</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">ABOUT </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contact.html">CONTACT </a>
            </li>

          <!---------------------Holder Navigationbar-------------------------->
          {% if request.session.lgnh != null %}
          <li class="nav-item">
              <a class="nav-link" href="uploadequipment">EQUIPMENTS</a>
            </li>           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL LIST
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="equiplist{{0}}">LIST</a>
              <a class="dropdown-item" href="rentbill">BILL</a>   
              </div>           
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PROFILE
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="authorized.html">AUTHORIZRD</a>
                <a class="dropdown-item" href="profile">PROFILE</a>            
              </div>
            </li>

          <!-----------------------Trader Navigationbar-------------------------->
          {% elif request.session.lgnt != null %}
          <li class="nav-item">
            <a class="nav-link" href="priceupload">PRICE</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="tpricelistt.html">PRICELIST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transaction{{0}}">HISTORY</a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PROFILE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="authorized.html">AUTHORIZRD</a>
                  <a class="dropdown-item" href="profile">PROFILE</a>                  
                </div>
              </li> 

              <!---------------------------Farmer Navigationbar------------------------->
              {% elif request.session.lgnf != null %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ALL LIST
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="productlist">PRODUCTLIST</a>
                    <a class="dropdown-item" href="pricelist">PRICELIST</a>
                    <a class="dropdown-item" href="equipmentlist">EQUIPMENTLIST</a>
                  </div>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="transaction{{0}}">HISTORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">PROFILE</a>
                </li>
                
                <!-------------------------Admin Navigationbar------------------------>
                {% elif request.session.lgna != null %}
                <li class="nav-item">
                    <a class="nav-link" href="authorized.html">AUTHORIZRD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="list{{0}}">LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="districtupld.html">DISTRICT</a>
                </li>               
                {% endif %}
        </ul>       
      </div>
    </nav>
  </div>
  
  
     
      

       <!---- main block ---->
       <div style="margin-top: 30px; padding-top:0px;">
          {% block content %} {% endblock %}
      </div>

  </BODY>
  
</html>