{% extends 'basic.html' %}  {% block content %} {% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Select a Date Range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var cars = [];
    var text = "";
    
    '{% for i in sd %}'
    var array = [];
    text += '"{{i.startdate|date:"m/d/Y"}}",' + ' "{{i.enddate|date:"m/d/Y"}}",';
    array += array.push(text)
    
    document.getElementById("demo").innerHTML = array;
    var array = ["10/22/2019","10/23/2019"];
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('mm/dd/yy', date);
            return [ array.indexOf(string) == -1 ]
          }
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        minDate: 0,
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('mm/dd/yy', date);
            return [ array.indexOf(string) == -1 ]
        }
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
    '{% endfor %}'
  } );

  </script>
</head>
<body style="border-width: 1px solid black;">
{% for i in prices %}
    {{i.startdate|date:'m/d/Y'}}
    {{i.enddate|date:'m/d/Y'}}
{% endfor %}

<p id="demo"></p>
<div class="card-body">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{ message }}</div>
        {% endfor %} {% endif %}
</div>
<form method="POST" class="col-md-4">
        {% csrf_token %}
<label for="from">From</label>
<input type="text" class="form-control" readonly width="100px" id="from" name="A">
<label for="to">to</label>
<input type="text" class="form-control" readonly width="100px" id="to" name="B">
<input type="submit" value="Submit" class="btn btn-outline-success">
</form>
</body>
</html>
{% endblock %}