{% extends 'basic.html' %} {% load render_table from django_tables2 %} {% render_table table %} {% block content %} {% load static %}
<div class="message" style="margin-top: 10px">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %} {% endif %}</div>

<div class="table-responsive" style="font-size: 15px;">

    <!--Farmer Rent Products --> 
    <table class="table table-hover">
        <center>
            <h3 style="color: green">Farmer Rent In Equipment's List</h3>
        </center>        
        <tr align="center">
            <th>Farmer Name</th>   
            <th>Address</th>        
            <th>Mobile no.</th>
            <th>Category</th>
            <th>Equipment Name</th>
            <th>City</th>           
            <th>Pincode</th>
            <th>Startdate</th>
            <th>Enddate</th>           
            
        </tr>
        {% for i in c %} {% for j in g %} {% if i.E_id == j.E_id %}
        <tr class="danger" align="center">
            <td>{{i.Name}}</td> 
            <td>{{i.Address}}</td>          
            <td>{{i.Mobileno}}</td>
            <td>{{j.Category}}</td>
            <td>{{j.E_name}}</td>
            <td>{{i.City}}</td>           
            <td>{{i.Pincode}}</td>
            <td>{{i.startdate}}</td>
            <td>{{i.enddate}}</td>    
        </tr>
        {% endif %} {% endfor %}  {% endfor %}
    </table>
    <div align="center">
        <a href="GeneratePDF{{7}}" target="_blank"><button id="button" name="submit" class="btn btn-info">Print</button></a>
    </div>
</div>

{% endblock %}
           <!-- {% if i.status == 1 %} 
                    
            <td>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}      
                        <input type="number" name="rid" hidden value="{{i.R_id}}" />          
                                {{form}}                             
                                <button type="submit" class="btn btn-success" id="submit">Bill</button>                        
                    </form>            
            </td>            
            {% elif i.status == 2 %}
            <td>Bill Sent</td>
            {% endif %}-->
               
      
