{% extends 'main.html' %} {% load render_table from django_tables2 %} {% render_table table %} {% block content %} {% load static %}
<div class="message" style="margin-top: 160px">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %} {% endif %}</div>

<div class="table-responsive" style="font-size: 15px;">

    <!--Farmer Rent Products --> 
    <table class="table table-hover">
        <center>
            <h3 style="color: green">Farmer Rent form Tabel</h3>
        </center>
        <tr>
            <th>Farmer Name</th>   
            <th>Address</th>        
            <th>Mobile no.</th>
            <th>City</th>
            <th>Email</th>
            <th>Pincode</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Approve</th>
            <th>Reject</th>
        </tr>
        {% for i in c %} {% if i.status == 0 %}
        <tr class="danger">
            <td>{{i.Name}}</td> 
            <td>{{i.Address}}</td>          
            <td>{{i.Mobileno}}</td>
            <td>{{i.City}}</td>
            <td>{{i.Email}}</td>
            <td>{{i.Pincode}}</td>
            <td>{{i.startdate}}</td>
            <td>{{i.enddate}}</td>
            <td>{{i.Quantity}}</td>
            <td><a href="acpt{{i.R_id}}"><button type="submit" value="{{i.R_id}}" id="submit" class="btn btn-success" ><i class="fas fa-check"></i></button></a></td>
            <td><a href="rjct{{i.R_id}}"><button type="submit" value="{{i.R_id}}" id="cancel" class="btn btn-danger" ><i class="fas fa-times"></i></button></a></td>
        </tr>
        {% endif %} {% endfor %}
    </table>
    <br>
    <br>   
</div>

{% endblock %}