{% extends 'basic.html' %} {% load render_table from django_tables2 %} {% render_table table %} {% block content %} {% load static %}
<div class="message" style="margin-top: 10px">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %} {% endif %}</div>

<div class="table-responsive" style="font-size: 15px;">

    <!--Farmer Rent Products --> 
    <table class="table table-hover">
        <center>
            <h3 style="color: green">Farmer Rent Form Table</h3>
        </center>
        <tr align="center">
            <th>Farmer Name</th>
            <th>Equipment Category</th>   
            <th>Equipment Name</th>
            <th>Startdate</th>
            <th>Enddate</th>  
            <th>Price in Rs</th>          
            <th>Cancel</th>
        </tr>
        {% for i in c %}{% for j in d %} {% if i.E_id == j.E_id %}
        <tr class="danger" align="center">
            <td>{{i.Name}}</td> 
            <td>{{j.Category}}</td>
           <td>{{j.E_name}}</td>
            <td>{{i.startdate}}</td>
            <td>{{i.enddate}}</td> 
            <td>{{j.Rent_price}}</td>          
           
        <td><a href="rentconfirm{{i.R_id}}"><button type="submit"  id="confirm" value="{{i.R_id}}" class="btn btn-danger" ><i class="fas fa-times"></i></button></a></td>
        </tr>
        {% endif %} {% endfor %}{% endfor %}
    </table>
    <br>
    <br>  
</div>

<!-----------------Alert Box----------------------->
<script>
    
    function getConfirmation() {
               var retVal = confirm("Do you want to continue ?");
               if( retVal == true ) {
                  document.write("User wants to continue!");
                  return true;
               } else {
                  document.write("User does not want to continue!");
                  return false;
               }
            }

</script>

<script type="text/javascript">
    $('#myModal').on('show', function() {
    var id = $(this).data('id'),
        removeBtn = $(this).find('.danger');
})

$('.confirm-delete').on('click', function(e) {
    e.preventDefault();

    var id = $(this).data('id');
    $('#myModal').data('id', id).modal('show');
});

$('#btnYes').click(function() {
    // handle deletion here
  	var id = $('#myModal').data('id');
  	$('[data-id='+id+']').remove();
  	$('#myModal').modal('hide');
});
  </script>
{% endblock %}