{% extends 'basic.html' %}  {% block content %} {% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Select a Date Range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style type=text/css> 
    .leftdiv 
    { 
    float: left;
    width: 85%;
    height: 180px;     
    margin: 00px 5px 00px 20px;
    } 
    .rightdiv 
    { 
    float: left;
    width: 45%; 
    height: auto;    
    border: solid 2px black;
    margin: 00px 00px 10px 450px;              
    }          
 </style> 
  <script>
  $( function() {
    
    var cars = [];
    var text = ""; 
    var ddd="";
    var k="";
    '{% for i in sd %}'
    '{% if i.status == 1 %}'
    var startDate = new Date("{{i.startdate|date:'m/d/Y'}}"); //YYYY-MM-DD
    var endDate = new Date("{{i.enddate|date:'m/d/Y'}}"); //YYYY-MM-DD    
    dateRange = [];    
    var array=[];
           // array to hold the range

// populate the array
    for (var d = new Date(startDate); d <= new Date(endDate); d.setDate(d.getDate() + 1)) {
        dateRange.push($.datepicker.formatDate('"mm/dd/yy"', d));
        k+=$.datepicker.formatDate('"mm/dd/yy"', d);
    }
   
    text += '"{{i.startdate|date:"m/d/Y"}}",' + ' "{{i.enddate|date:"m/d/Y"}}",';
    array += array.push(k);
    
    //alert("ss "+ dateRange);
       
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('mm/dd/yy', date);
            return [ array.indexOf(string) == -1 ]
          }
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        minDate: 0,
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        beforeShowDay: function(date){
            var string = jQuery.datepicker.formatDate('mm/dd/yy', date);
            return [ array.indexOf(string) == -1 ]
        }
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
    '{% endif %}'
    '{% endfor %}'
  } );
  $( function() {  
  
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          minDate: 0,
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        minDate: 0,
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
    
  } );

  </script>
</head>
<body style="border-width: 1px solid black;">

      <div class="card-body">
              {% if messages %} {% for message in messages %}
              <div class="alert alert-{{message.tags}}">{{ message }}</div>
              {% endfor %} {% endif %}
      </div>  

<div class="leftdiv">
    <form method="POST" class="col-md-4" style="border: 1px black solid;">
    <center>  <label><h2 style="color: cornflowerblue;">Farmer Rent In Equipments</h2>
      </label> </center>    
      <hr>
          {% csrf_token %}
          <label for="from">Start Date</label>
          <input type="text" class="form-control" readonly width="100px" id="from" name="A">
          <label for="to">End Date</label>
          <input type="text" class="form-control" readonly width="100px" id="to" name="B">
          <br>
          <input type="checkbox" required> If you will cancel the rental equipment then you will  500 Rs fine<br> <br>
          <hr>
          <input type="submit" value="Submit" class="btn btn-success" style="margin-bottom: 5px;">
          <input type="reset" value="Cancel" class="btn btn-primary" style="margin-bottom: 5px;">
    </form>
</div>
  <div class="rightdiv">
      <label style="margin-left: 40px; font-weight: bolder;">Specifications</label>
      <div class="table-responsive" style="font-size: 15px;">
          <!--Farmer Rent Products --> 
          <table class="table table-hover">             
              <tr align="center" style="color: dimgray;">
                  <th>Manufacturer</th>
                  <th>Equipment Category</th>   
                  <th>Equipment Name</th>                  
              </tr>            
              <tr class="danger" align="center" style="color:dimgray;">
                  <td>{{a.H_name}}</td> 
                  <td>{{a.Category}}</td>
                 <td>{{a.E_name}}</td>                     
              </tr>
          </table>
          <br>
          <br>  
      </div>
      <div class="table-responsive" style="font-size: 15px;">
          <!--Farmer Rent Products --> 
          <table class="table table-hover">             
              <tr align="center" style="color: dimgray;">    
                  <th>Manufacturing Year</th>  
                  <th>Condition</th>          
                  <th>Horsepower</th>
              </tr>            
              <tr class="danger" align="center" style="color: dimgray;">
                  <td>{{a.year}}</td>
                 <td>{{a.Condition}}</td>
                  <td>{{a.hp}} HP</td>                      
              </tr>
          </table>
          <br>
          <br>  
      </div>
    </div>
</body>
</html>
{% endblock %}