{% extends 'basic.html' %}
{% load crispy_forms_tags %} 
{% block content %} 
{% load static %}
<style>
label{
                        font-weight: bold;
                    }
</style>
 <center>
 <div>
    <form  role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="message">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
        {% endfor %} {% endif %}</div>

        <div class="card border-info" style="width: 50%; margin-top: 0px;" align="center">
            <div class="card-header bg-info">
                      <h3><b>Add Taluka</b></h3>
            </div>
            <div class="card-body">
                    {% if messages %} {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{ message }}</div>
                    {% endfor %} {% endif %}
                </div>          
                
        <form class="form-horizontal inline" id="upeqip"  role="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-block">                   
                   <fieldset class="form-group col-md-10" >                     
                    <label for="city">District</label>
                    <select id="dist" name="dist" class="form-control">
                            {% for entry in d %}
                            <option value="{{ entry.District }}">{{ entry.District }}</option>
                            {% endfor %}
                    </select><br>
                        {{form|crispy}}         
                        <br>
                        <button type="submit" class="btn btn-success" id="submit">submit</button>&nbsp;&nbsp;
                        <button type="reset" class="btn btn-primary" id="reset">Cancel</button>                      
                    </fieldset>                 
           </div>
        </form>     
    </div>  
</form>
</div>
</center>
<!------ First latter is UpperCase ------>
<script>
    jQuery(document).ready(function() {

         // Capitalize string every 1st chacter of word to uppercase
         jQuery('#taluka').keyup(function() 
         {
             var str = jQuery('#taluka').val();
             var spart = str.split(" ");
             for ( var i = 0; i < spart.length; i++ )
             {
                 var j = spart[i].charAt(0).toUpperCase();
                 spart[i] = j + spart[i].substr(1);
             }
         jQuery('#taluka').val(spart.join(" "));             
         });
        });
</script>

<!------------Disabled Button---------------->
<script type="text/javascript">
    function success() {
         if(document.getElementById("taluka").value==="") { 
                 document.getElementById('submit').disabled = true; 
             } else { 
                 document.getElementById('submit').disabled = false;
             }
         }     
 </script>

<!--*******************************************************************************************-->
<!--Search the data and record find-->

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/responsive/1.0.2/js/dataTables.responsive.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<!-- DataTables Select JS -->
<script href="js/addons/datatables-select.min.js" rel="stylesheet"></script>
<script>
 $('#example').dataTable({

columnDefs: [{
orderable: false,
className: 'select-checkbox',
targets: 0
}],
select: {
style: 'os',
selector: 'td:first-child'
}
});
</script>
    {% endblock %}